# Redireciona sempre www -> domínio raiz
www.domingos-automacoes.shop {
    redir https://domingos-automacoes.shop{uri}
}

# Domínio principal
domingos-automacoes.shop {
    reverse_proxy /api/* backend:8000
    reverse_proxy frontend:80
}
