proxy:
  image: caddy:2.7
  volumes:
    - ./Caddyfile:/etc/caddy/Caddyfile
    - caddy_data:/data
    - caddy_config:/config
  depends_on:
    - frontend
    - backend
  restart: always
  ports:
    - "80:80"
    - "443:443"
